body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  background-color: rgb(255, 215, 225);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  background-color: rgb(255, 175, 225);
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
}

a {
  color: black;
}

.logo {
  font-weight: 700;
  font-size: 32px;
}

.container-border,
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.intro-container,
.video-textbox{
  border: 5px groove rgb(255, 185, 225);
  background-color: rgb(255, 228, 225);
  border-radius: 15px;
  padding: 12px 40px;
}


.intro-leftside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.small-warning-text {
  margin-top: 6em;
  font-size: 7px;
}

.intro-title,
.pic-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.pic-title {
  font-size: 38px;
}

.text-box,
.video-textbox {
  max-width: 350px;
}

.smalltext-underpic {
  text-align: center;
  font-size: 8px;
  font-family: 'Lucida Handwriting', cursive;
}

.intro-img img{
  width: 200px;
  height: 275px;
}

img {
  border-radius: 15px;
}

.pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 228, 225);
  padding: 4em 0;
}

.pic-textbox {
  margin-bottom: 20px;
  text-align: center;
}

.first-row,
.second-row {
  display: flex;
  gap: 10em;
}

.pic-container .two-of-us img {
  width: 300px;
  height: 400px;
  margin: 12px 0;
}

.pic-container .fam-pic img {
  margin-top: 2em;
  width: 400px;
  height: 550px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 3em;
}

.footer-ending {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(75, 75, 75);
  padding: 1.5em 0;
}